* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1c1917;
    --secondary-color: #fafaf9;
    --tertiary-color: #292524;
    --quaternary-color: #f5f5f4;
    --quinary-color: #d6d3d1;
}

/* Main layout */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: var(--quaternary-color);
}

/* Header gradient background*/
.header {
    font-family: 'Rokkitt', serif;
    display: flex;
    grid-area: header;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 0 0 30px 30px;
}

.header h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    
}


.footer {
    display: flex;
    grid-area: footer;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* border-radius: 30px 30px 0 0; */
}

.footer p {
    font-size: 1rem;
    color: var(--secondary-color);
}

/* Main content */
/*style the table*/
.content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, max(350px));
    padding: 2%;
    border-radius: 30px 30px 0 0;
    gap: 50px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    gap: 20px;
    background: var(--quinary-color);
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.book-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.book-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 700;
}

.book-card__author {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 400;
}

.book-card .remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ef4444;
    color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    width: 50%;
}

.book-card button{
    background: inherit;
    color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-end;
}

.book-card .remove-button:hover {
    background: #dc2626;
    transition: 0.3s;
    /* add a light box -shadow */
    box-shadow: 0 0 2px 2px #ef4444;
}

#add-card-initial {
    display: flex;
    opacity: 80%;
    justify-content: center;
    align-items: center;
    background: #22c55e;
    padding: 10px;
}

#add-card-initial:hover {
    background: #10b453;
    transition: 0.3s;
    box-shadow: 0 0 2px 2px #22c55e;
}

#add-card-initial button {
    background: inherit;
    color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

#add-card-initial .add-card__submit { /* submit button styling */
    display: flex;
    background: #047857;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px;
}


/* Form styling */
#add-card-form {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

#add-card-form div{ /* for each row of the input label and input text */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
}


#add-card-form label{
    font-size: .8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-card-form input{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 65%;
}

/* only show theform when the button is clicked */
#add-card-form {
    display: none;
}

